@model SFLOnline.Models.Person

@{
    ViewBag.Title = "StudentAccount";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Student Account</h2>


<table class="table">
    <tr>
        <td>
            Active Module is : 
        </td>
        <td>
            @ViewBag.module
        </td>
    </tr>

    <tr>
        <td>
            My Class is :
        </td>
        <td>
            @ViewBag.studentclass
        </td>
    </tr>


    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EMail) :
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.EMail)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FullName) :
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.FullName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Id) :
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Id)
        </td>
    </tr>


</table>