@model SFLOnline.Models.InformationPassed

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InformationPassed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exit.ExitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exit.ExitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gradeAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gradeAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttendanceLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendanceLimit)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />

        </div>
        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
        </div>
        
    }
</div>
