@model SFLOnline.Models.Day

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DaysName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
