@model SFLOnline.Models.Exit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <h4>Details Exit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForEnrollment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForEnrollment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
